@charset "utf-8";
@import "reset";


$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 560px;  // スマホ
$sp-second: 425px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}


@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin sp-second {
    @media (max-width: ($sp-second)) {
      @content;
    }
  }


html{

body{
    font-family: 'Noto Sans JP', sans-serif;

    header{
        .header_inner{
                display: flex;
                width: 100%;
                margin: 0 auto;
                justify-content: space-between;
                height: 92px;
                align-items: center;

                @include tab{
                    height: 60px;
                }
    
            img{
                    width: 272px;
                    height: 57px;
                    margin-left: 50px;
    
                    @include pc{
                        margin-left: 30px;
                        width: 240px;
                        height: 50px;
                    }
    
                    @include sp{
                        width: 160px;
                        height: 33px;
                    }
    
            }/*img*/
    
            .header_nav{
    
                @include tab{
                display: none;
                position: fixed;
                height: 100%;
                background-color: rgb(11, 108, 30);
                width: 100%;
                text-align: center;
                top: 0%;
                left: 0%;
                z-index: 10;
                }
    
                    ul{
                        display: flex;
                        align-items: center;

                        @include tab{
                            display: block;
                            margin-top: 66px;
                        }

    
                        li{
                            font-size: 18px;
                            list-style: none;
                            text-align: center;
                            padding: 0px 20px;
                            font-family: 'Noto Serif JP', serif;
    
                            @include pc{
                                padding: 0px 13px;
                                font-size: 15px;
                            }

                            @include tab{
                                color: rgb(255, 255, 255);
                                padding-bottom: 31.5px;
                                padding-top: 33.5px;
                                border-bottom: 1px solid rgb(255, 255, 255);
                            }


                            @include sp{
                                text-align: left;
                                padding-left: 20px;
                                font-size: 18px;
                            }
                           
    
                            a{
    
                                @include tab{
                                    color: rgb(255, 255, 255);
                                }
                           
                                
                                span{
                                    display: block;
                                    font-size: 12px;
                                    margin-top: 9px;
                                    font-family: 'Libre Baskerville', serif;

                                    @include tab{
                                        display: initial;
                                        margin-left: 13px;
                                    }

                                }/*span*/
    
                            }/*a*/
                        }/*li*/

                        .li_sp{
                            display: none;

                            @include tab{
                                display: block;
                                
                            }/*li_sp*/

                        }
    
                        .contact_li{
                            background-color: green;
                            padding-top: 20px;
                            padding-bottom: 20px;

                            @include pc{
                                padding-top: 23.5px;
                                padding-bottom: 23.5px;    
                            }

                            @include tab{
                                background-color: initial;
                            }
    
                            a{
                                line-height: 3em;
                                color: white;

                                .span_sp{
                                    display: none;

                                    @include tab{
                                        display: initial;
                                    }
                                }/*span_sp*/

                            }
                        }
    
                    }/*ul*/
            }/*header_nav*/


        .drawer_menu{
            display: none;

            @include tab{
                z-index: 15;
                display: initial;
                background-color: rgb(11, 108, 30);
                width: 60px;
                height: 60px;    
            }

      
            .btn-gnavi{
                display: initial;
                position: fixed;
                top: 18px;
                right: 20px;
                width: 30px;
                height: 24px;
                z-index: 4;
                cursor: pointer;
                transition: all 400ms;
                -webkit-transition:all 400ms;
            }
            
            
            .btn-gnavi{
              z-index: 1000;
            
           
            
              span{
                      position: absolute;
                      height: 1px;
                      background:rgb(255, 255, 255);
                      -webkit-transition: all 400ms;
                      transition: all 400ms;
                      right: 0;
                    
                    @include sp-second{
                      width: 45px;
                    }
              
            }/*span*/
            
              span:nth-of-type(1){
            
                top:3.2px;
                z-index: 1000;
                width: 17px;
            
                  
            
              }/*span*/
            
              span:nth-of-type(2){
            
                      top: 10px;
                      z-index: 1000;
                      width: 17px;
            
                  
              }/*span*/
            
              span:nth-of-type(3){
                      top: 16.8px;
                      z-index: 1000;
                      width: 17px;   
              }/*span*/   
            }/*btn-gnavi*/
    }/*drawer_menu*/

            
            .btn-gnavi.hb-open span:nth-of-type(1) {
              -webkit-transform: translateY(5px) rotate(-45deg);
              transform: translateY(5px) rotate(-45deg);
              transition: 0.5s;
            }
            .btn-gnavi.hb-open span:nth-of-type(2) {
              opacity: 0;
            }
            .btn-gnavi.hb-open span:nth-of-type(3) {
              -webkit-transform:translateY(-9px) rotate(230deg);
              transform: translateY(-9px) rotate(45deg);
              transition: 0.5s;
              width: 17px;
            
            }
            
    }/*inner*/
}/*header*/




    .mainvisual {/*親div*/
        position: relative;/*相対配置*/
        height: 400px;

        @include pc{
            height: 40vw;
        }

        @include sp{
            height: 42.8vw;
        }

        img {
            width: 100%;
            height: 400px;

            @include pc{
                height: 40vw;
            }

            @include sp{
                height: 42.8vw;
            }

        }/*img*/

        p {
            position: absolute;/*絶対配置*/
            color: white;/*文字は白に*/
            font-size: 50px;
            font-weight: 500;
            letter-spacing: 10px;
            font-family: 'Noto Serif JP', serif;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            margin:0;
            padding:0;
            text-align: center;
            width: 100%;
            z-index: 2;

            @include tab{
                font-size: 33px;
            }


            @include sp{
                font-size: 22px;
                letter-spacing: 4.4px;
            }

            span{
                display: block;
                font-family: 'Libre Baskerville', serif;
                font-size: 20px;
                letter-spacing: 0.5px;

                @include sp{
                    font-size: 12px;
                    margin-top: 8px;
                }
            }

        }/*p*/

}/*mainvisual*/

.mainvisual:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(9, 52, 12);
    opacity: 20%;
    display:block;
    z-index: 1;
}



.form{
    background-color: rgb(245, 245, 245);

    &_inner{
        max-width: 832px;
        width: 100%;
        padding-top: 70px;
        padding-bottom: 70px;
        margin: 0 auto;

        @include pc{
            max-width: 720px;
        }

        @include tab{
            max-width: 610px;
            padding-right: 20px;
            padding-left: 20px;
        }

        @include sp{
            padding-top: 48px;
        }


        .form_box{
            display: flex;
            padding-bottom: 45px;
            border-bottom: 1px solid rgb(191, 191, 191);
            margin-bottom: 40px;

            @include tab{
                display: block;
            }

            @include sp{
                padding-bottom: 28px;
            }

            .category{
                width: 213px;
                margin-top: auto;
                margin-bottom: auto;
                font-size: 16px;
                letter-spacing: 1.2px;
                margin-right: 45px;  
                
                @include pc{
                    margin-right: 25px;  
                }

                @include tab{
                    margin-bottom: 15px;  
                }

                @include sp{
                    font-size: 14px;
                }

                span{
                    background-color: rgb(6, 162, 18);
                    padding: 2px 8px;
                    border-radius: 8px;
                    font-size: 13px;
                    margin-left: 11px;
                    color: white;

                    @include sp{
                        font-size: 9px;
                        border-radius: 3px;
                    }

                }/*span*/
            }/*category*/

            select{
                width: 375px;
                background-color: rgb(255, 255, 255);
                border-radius: 4px;
                height: 49px;
                padding-left: 20px;
                -moz-appearance: menulist;
                -webkit-appearance: menulist;
              
                
                @include tab{
                    width: 100%;
                    height: 48px;
                }
    
             
                option{
                    font-size: 16px;
                    letter-spacing: 1.2px;
                    margin-left: 20px;
                }/*option*/
    
            }/*select*/

            select::-ms-expand {
                padding-right: 20px;
                display: block;
            }

            .example{
                color: rgb(147, 147, 147);
                margin-left: 21px;
                font-size: 16px;
                letter-spacing: 1.2px;
                margin-top: auto;
                margin-bottom: auto;


                @include pc{
                    margin-left: 10px;
                }

                @include tab{
                    margin-top: 7px;
                }

                @include sp{
                    font-size: 13px;
                }


            }

        input{
            background-color: rgb(255, 255, 255);
            height: 49px;
            width: 375px;
            border-radius: 5px;
            padding: 0 10px;


            @include pc{
                width: 305px;
            }

            @include tab{
                width: 100%;
            }

            @include sp{
                height: 48px;
            }


        }

        .company_name{
            width: 576px;

            @include pc{
                width: 460px;
            }

            @include tab{
                width: 100%;
            }


        }

      

        .text-area{
            height: 300px;
            width: 576px;

            @include pc{
                width: 460px;
            }

            @include tab{
                width: 100%;
            }


            @include sp{
                height: 186px;
            }

        }


    }/*form_box*/

    .form_box:nth-child(7){
        border-bottom: none;
        margin-bottom: 23px;
        padding-bottom: 0px;
    }

    .check_box{
        width: 530px;
        margin: 0 auto;

        @include pc{
            width: 480px;
        }

        @include tab{
            width: 390px;
        }

        @include sp-second(){
            width: 100%;
        }

        
        .ECM_CheckboxInput {
            padding: 12px 8px;
            display: flex;
            align-items: center;
          }
          
          .ECM_CheckboxInput-Input {
            margin: 0;
            width: 0;
            opacity: 0;
          }
          
          .ECM_CheckboxInput:hover > .ECM_CheckboxInput-DummyInput {
            background: #DDDDDD !important;
            border: solid 2px #333333;
          }
          
          .ECM_CheckboxInput-Input:focus + .ECM_CheckboxInput-DummyInput {
            background: #DDDDDD !important;
            border: solid 2px #333333;  
          }
          .ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput {
            border: solid 2px #333333;
            background: #FFFFFF;
          }
          .ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hlY2siPjxwb2x5bGluZSBwb2ludHM9IjIwIDYgOSAxNyA0IDEyIj48L3BvbHlsaW5lPjwvc3ZnPg==") no-repeat center;
            background-size: contain;
          }
          .ECM_CheckboxInput-DummyInput {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            width: 20px;
            height: 20px;
            border: solid 2px rgb(112, 112, 112);
            background: #FFFFFF;
          }
          .ECM_CheckboxInput-LabelText {
            margin-left: 12px;
            display: block;
            font-size: 20px;

            @include pc{
                font-size: 18px;
            }

            @include tab{
                font-size: 14px;
            }

            @include sp-second(){
                font-size: 13px;
            }

            .check_box_tag{
                .policy_tag{
                    color: rgb(11, 108, 30);
                    border-bottom: 1px solid rgb(11, 108, 30);
                }/*policy_tag*/

                .policy_tag:hover{
                    opacity: 0.6;
                    transition: .2s;
                }/*policy_tag*/


            }/*box_tag*/
            
          }/*ECM_CheckboxInput-LabelText*/
          
    }

 

    .btn_area{
        width: 780px;
        border-radius: 5px;
        margin: 0 auto;
        margin-top: 41px;

        @include pc{
            width: 650px;
        }

        @include tab{
            width: 500px;
        }

        @include sp{
            width: 100%;
            max-width: 500px;
            margin-top: 5px;
        }


        .submit{
            background-color: rgb(11, 108, 30);
            width: 100%;
            padding-top: 47px;
            padding-bottom: 46px;
            color: white;
            font-weight: 500;
            letter-spacing: 3.3px;

            @include tab{
                padding-top: 25px;
                padding-bottom: 25px;    
            }

            @include sp{
                padding-top: 21px;
                padding-bottom: 21px;    
            }


            

        }
    }/*btn_area*/

    .btn_area:hover{
        opacity: 0.9;
        transition: 0.3s;
    }

    }/*inner*/
}/*form*/


#page_top{
    width: 92px;
    height: 92px;
    background-color: rgb(11, 108, 30);
    border-radius: 50px;
    line-height: 92px;
    text-align: center;
    position: absolute;
    bottom:-60px;

    a{
        color: rgb(255, 255, 255);
    }
}/*page_top*/

#page_top:before{
        width: 20px; /* ボックスの横幅を指定する */
        height: 20px; /* ボックスの高さを指定する */
        border-top: 2px solid #666666; /* 境界線の上部を実線に指定する*/
        border-right: 2px solid #666666;/* 境界線の上部を実線に指定する*/
        display: inline-block; /* インライン要素化 */
        transform: rotate(-45deg); /* ボックスを回転させる（上向き矢印） */        
}



.page_top_button{
    position: relative;



#page_top{
    width: 92px;
    height: 92px;
    background-color: rgb(11, 108, 30);
    border-radius: 50px;
    line-height: 105px;
    text-align: center;
    position: absolute;
    right: 8.5%;
    top:-40px;
    
    @include pc{
        right: 80px;
    }

    @include tab{
        right: 40px;
        top: 40px;
    }

    @include sp{
        width: 48px;
        height: 48px;
        line-height: 55px;
        top: 30px;
    }

    @include sp-second(){
        right: 10px;
    }
    

    a{
        color: rgb(255, 255, 255);
        display: block;
        font-family: 'Libre Baskerville', serif;
        font-size: 18px;

        @include sp{
            font-size: 8px;
        }

    }/*a*/

    a::after {
        position: absolute;
        left: 45%;
        top: 24px;
        display: block;
        content: "";
        width: 8px;
        height: 8px;
        border-right: 2px solid #fff;
        border-top: 2px solid #fff;
        transform: rotate(-45deg);

        @include sp{
            top: 15px;
            left: 45%;
            border-right: 1px solid #fff;
            border-top: 1px solid #fff;  
            width: 5px;
            height: 5px;      
        }

      }
      

}/*page_top*/

#page_top:hover{
    opacity: 0.8;
    transition: 0.3s;
}

#page_top:before{
        width: 20px; /* ボックスの横幅を指定する */
        height: 20px; /* ボックスの高さを指定する */
        border-top: 2px solid #666666; /* 境界線の上部を実線に指定する*/
        border-right: 2px solid #666666;/* 境界線の上部を実線に指定する*/
        display: inline-block; /* インライン要素化 */
        transform: rotate(-45deg); /* ボックスを回転させる（上向き矢印） */        
}

}/*pagetopbutton*/
    
  
.footer{
    background-color:#F5F5F5;

    &_inner{
        padding: 60px 10px 39px 10px;
        display: flex;
        max-width: 1188px;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;


        @include tab{
            padding: 60px 0px 39px 40px;
        }

        @include sp{
            padding: 32px 0px 21px 30px;
        }

        .footer_logo_part{
            img{
                width: 230px;

                @include sp{
                    width: 212px;
                    height: 44px;
                    margin-bottom: 20px;
                }
                
            }/*img*/

            span{
                display: block;
                font-size: 13px;
                letter-spacing: 0.975px;

             

                .pc_br{
                    display: none;

                    @include pc{
                        display: initial;
                    }

                    @include tab{
                        display: none;
                    }

                }


            }/*span*/

        }/*part*/


        .footer_nav{

            @include tab{
                display: none;
            }


            ul{
                display: flex;
                justify-content: space-between;

                li{
                    list-style: none;
                    padding: 0px 20px;
                    font-size: 14px;
                    letter-spacing: 1.05px;
                    font-weight: 500;

                    @include pc{
                        padding: 0px 7px;
                        font-size: 13px;
                    }

                    span{
                        display: block;
                        font-weight: 400;
                        font-size: 13px;
                        letter-spacing: 0.975px;
                        font-weight: 500;
                        line-height: 2;

                        @include pc{
                            font-size: 12px;
                        }

                    }/*span*/

                    .footer_range{
                        padding-bottom: 8px;
                    }

                    .policy_nav{
                        font-size: 14px;
                        line-height: 2.1;

                        @include pc{
                            font-size: 12px;
                        }

                    }/*policy_nav*/

                }/*li*/
            }/*ul*/
        }/*nav*/
    }/*inner*/

    &_bottom{
        margin-bottom: 0;
        background-color: rgb(34, 34, 34);
        text-align: center;

        p{
            font-size: 13px;
            color: rgb(255, 255, 255);
            padding: 30px 0px 23px;
            font-family: 'Libre Baskerville', serif;
            letter-spacing: 0.325px;

            @include sp{
                font-size: 10px;
                padding: 18px 0px 16px;
            }

        }
    }/*bottom*/

}/*footer*/

}/*body*/
}/*html*/



